<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Worker Management System</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1> Worker Management System</h1>
  <hr>
  <h2> Save Worker</h2>

  <form action="#" th:action="@{/saveWorker}" th:object="${worker}" method="POST">
    <input type="text" th:field="*{firstName}" placeholder="Worker First Name" class="form-control mb-4">
    <input type="text" th:field="*{lastName}" placeholder="Worker Last Name" class="form-control mb-4">
    <input type="text" th:field="*{email}" placeholder="Worker Email" class="form-control mb-4">
    <input type="text" th:field="*{phoneNumber}" placeholder="Worker Phone Number" class="form-control mb-4">
    <input type="text" th:field="*{address}" placeholder="Worker Address" class="form-control mb-4">
    <input type="date" th:field="*{dateOfBirth}" placeholder="Worker DateOfBirth" class="form-control mb-4">
    <input type="text" th:field="*{town}" placeholder="Worker Town" class="form-control mb-4">
    <input type="text" th:field="*{county}" placeholder="Worker County" class="form-control mb-4">
    <input type="text" th:field="*{otherDetails}" placeholder="Worker Other Details" class="form-control mb-4">
    <button type="submit" class="btn btn-info col-2"> Save Worker</button>
  </form>
</div>
</body>
</html>